.Gallery{
  background-color: #000000;
  overflow: hidden;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  justify-items: center;
  margin-top: 10vh;
}

.image-container {
  position: relative;
  overflow: hidden;
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s;
}

.image-container:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Optional: Add some hover effects or captions */
.image-container:hover::before {
  content: 'Click to enlarge';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

/* Optional: Add a lightbox effect on click */
.image-container:focus {
  outline: none;
}

/* Style for images in full-screen lightbox */
.image-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-lightbox .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.image-lightbox img {
  max-width: 90%;
  max-height: 90%;
}

/* Optional: Add a transition for the image scaling */
.image-lightbox img:hover {
  transform: scale(1.05);
}

