
.donate-card {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  overflow: hidden;
  position: relative;
  margin: 20px;
  transition: all .5s ease-in-out;
  /* animation: rotateX 3s infinite linear; */
}

.donate-card:hover{
  transform: rotateY(180deg);
}

.donate-card:hover .donate-card_text{
  position: absolute;
  transform: rotateY(-180deg);
}

/* @keyframes rotateX {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.donate-card_text{
  position: fixed;
  animation: rotateXtext 3s  delay iteration-count direction fill-mode;
}   */