.Donate{
  color: #ffffff;
  height: 100vh;
  width: 100%;
}

.Donate .donate-content{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Donate .donate-content .donate-card{
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  color: #000000;
  margin-right: 5%;
  border-radius: 20px;
  text-align: center;
  transition: all .5s ease;
}

.Donate .donate-content .donate-card .donate-card_text h2{
  font-size: 1.9rem;
}

.Donate .donate-content .donate-card .donate-card_text span h4{
  margin-top: 10vh;
}

.Donate .donate-content .donate-card .donate-card_text span p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 1.1rem;
}

.Donate .donate-content .donate-card .donate-card_text span p button{
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 2%;
}

.Donate .donate-content .donate-card:hover{
  transform: rotateY(180deg) scale(1.1) ;
  background-color: #ffff00;
}

.Donate .donate-content .donate-card:hover .donate-card_text{
  transform: rotateY(-180deg);
}


.Donate .donate-content .donate-info{
  width: 350px;
  height: 350px;
  margin-top: 30vh;
}

.Donate .donate-content .donate-info p{
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.14rem;
}


.hoverdiv{
  background-color: #ffff00;
  color: #000000;
  width: 200px;
  position: fixed;
  top: 96.3vh;
}