.About{
  width: 100%;
  min-height: 100vh;
  background-color: #222222;
}

.About .about-page{
  margin-top: 15vh;
  color: #ffffff;
}

hr{
  background-color: #ffff00;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 2px;
  border: #ffff00;
}