.carousel-container {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  animation: animate 2s 1 ;
}

.carousel-container h2{
  margin-bottom: 7vh;
  font-size: 2rem;
  
}

.carousel {
  display: flex;
  width: 100%; /* Adjust to control the width of the carousel */
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 33.33%; /* Adjust to control the number of visible cards at a time */
  text-align: center;
  transition: transform 0.5s ease;
}

.card img {
  height: 300px;
  height: auto;
}

/* Style the active card differently */
.card.active {
  transform: scale(1.1);
}

@media screen and (max-width: 410px) {
  .carousel-container h2{
    font-size: 1.1rem;
  }
}