.Countdown{
    width: 100%;
    min-height: 50vh;
    margin-top: 7vh;
    /* background-color: blue; */
    outline: none;
    animation: animate 2s 1 ;
}

.Countdown .Countdown-title{
    text-align: center;
    width: 100%;
    pointer-events: none;
    color: #ffffff;
    outline: none;
}

.Countdown .Countdown-preview{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Countdown .Countdown-preview .time{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: yellow;
    text-align: center;
    padding-top: 60px;
    font-size: 1.5rem;
    font-weight: 600;
    pointer-events: none;
    margin-bottom: 2vh;
}