.JoinWorkforce{
    color: white;
    margin-left: 2%;
    margin-top: 2vh;
    width: 98%;
    height: 50vh;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

.JoinWorkforce .img-content{
    width: 290px;
    height: 290px;
    border-radius: 10px;
    z-index: 11111;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ffff00;
}

.JoinWorkforce .img-content:hover{
    background-image: linear-gradient(#000000, #000000af);
}

.JoinWorkforce .img{
    width: 290px;
    height: 290px;
    z-index: 11;
    background-image: url('../../../../public/images/image4.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 4s ease-in-out;
}

.JoinWorkforce .img:hover{
    background-image: linear-gradient( #000000ca, #000000af), url('../../../../public/images/image1.jpeg');
    transform: scale(1.1) rotate(3deg);
    background-size: contain;
}

.JoinWorkforce .content{
    margin-left: 5%;
}

@media screen and (max-width: 420px) {
    .JoinWorkforce{
        margin-top: 2vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
