.Ministry{
    width: 100%;
    min-height: 100px;
    z-index: 1;
}

.Ministry .Ministry-card{
    width: 100%;
    height: 100px;
    width: 100%;
    height: auto;
    transition: background-color 0.3s;
}

.Ministry .Ministry-card .mcard-title{
    margin-top: 4vh;
    text-align: center;
}

.Ministry .Ministry-card .mcard-title a{
    margin-top: 5vh;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s ease;
}

.Ministry .Ministry-card .mcard-title:hover{
    font-size: 1.64rem;
    text-decoration: underline #ffffff;
}

.ministry_card-list{
    width: 100%;
    min-height: 300px;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ministry_card-list .ministry_card-preview{
    width: 380px;
    background-color: #ffff00;
    height: 100px;
    margin-left: 1%;
    margin-bottom: 2vh;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #0000006d;
    transition: all .5s ease-in-out;
    padding-top: 3vh;
}

.ministry_card-list .ministry_card-preview:hover{
    z-index: 1;
    background-color: #ffffff;
    transform: translateY(2px);
}


.ministry_card-list .ministry_card-preview .mcd__heading{
    text-align: center;
    margin: 2vh 0;
    text-transform: uppercase;
    pointer-events: none;
}

.ministry_card-list .ministry_card-preview p{
    font: 1.1rem sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    pointer-events: none;
}

.ministry_card-list .ministry_card-preview .mcd__minister{
    margin-left: 2%;
    letter-spacing: 1px;
    pointer-events: none;
    text-transform: uppercase;
}

.ministry_card-list .ministry_card-preview .mcd__icon{
    font-size: 1.1rem;
}

.ministry_card-list .ministry_card-preview .mcd__icon .cross{
    color: #292929;
    animation: cross 5s 1s infinite;
}

@keyframes cross {
    0%{
        transform: translateY(0px);
    }

    10%{
        transform: translateY(-8px);
    }

    20%{
        transform: translateY(-6px);
    }

    30%{
        transform: translateY(-4px);
    }

    40%{
        transform: translateY(-2px);
    }

    50%{
        transform: translateY(0px);
    }

    60%{
        transform: translateY(-8px);
    }

    70%{
        transform: translateY(-6px);
    }

    80%{
        transform: translateY(-4px);
    }

    90%{
        transform: translateY(-2px);
    }

    100%{
        transform: translateY(0px);
    }
}

.ministry_card-list .ministry_card-preview .mcd__learn-more{
    padding: 11px 15px ;
    text-decoration: none;
    margin-left: 2%;
    color: #ffff00;
    background-color: #0c0c0c;
    text-align: center;
    border-radius: 10px ;
    transition: all .5s ease;
} 

.ministry_card-list .ministry_card-preview .mcd__learn-more:hover{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 925px){
    .ministry_card-list .ministry_card-preview{
        width: 380px;
        height: 580px;
    }


}

@media screen and (max-width: 620px) {
    .ministry_card-list .ministry_card-preview{
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 420px){
    .Ministry .Ministry-card .mcard-title{
        font-size: 0.9rem;
        font-weight: 600;
    }

    .ministry_card-list .ministry_card-preview{
        width: 250px;
        height: 450px;
        
    }

    .ministry_card-list .ministry_card-preview .mcd__heading{
        text-align: center;
        font-size: 1.1rem;
        margin: 2vh 0;
        text-transform: uppercase;
        pointer-events: none;
    }

    .ministry_card-list .ministry_card-preview p{
        font: 1rem sans-serif;
        letter-spacing: 0.5px;
        line-height: 20px;
        margin-top: -1vh;
        width: 90%;
        text-align: center;
        pointer-events: none;
    }

    .ministry_card-list .ministry_card-preview .mcd__minister{
        margin-bottom: 4vh;
        font-size: 0.7rem;
        margin-left: 2%;
        letter-spacing: 1px;
        pointer-events: none;
        text-transform: uppercase;
    }
}
