*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-image: url(../public/images/E5T-11.png);
    background-position: center;
    background-size: contain;
    background-repeat:  repeat;
    width: 100%;
    min-height: 100vh;
    margin-top: 0;
}